python-dotenv==1.0.1
google-ai-generativelanguage==0.6.6
google-api-core==2.19.2
google-api-python-client==2.142.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
googleapis-common-protos==1.65.0
Flask==3.0.3
Flask-Cors==5.0.0
Werkzeug==3.0.4
MarkupSafe==2.1.5
Jinja2==3.1.4
itsdangerous==2.2.0
DateTime==5.5
ipython==8.27.0